@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter+Tight&family=Montserrat:wght@400;500&family=Open+Sans&display=swap');
.vokrug-container-header {
  background: transparent;
}
.uk-container-vokrug-pattern {
  background: url(./Images/bgPattern.png) !important;
  background-color: #131D29 !important;
  background-blend-mode: darken !important;
}
.vokrug-width-1-2 {
  width: 62%;
}
.vokrug-text-logo {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 5px;
}
.vokrug-text-mobile-logo {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 3px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #33765F;
}
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-transform: none;
}
.vokrug-text-logo:hover {
  cursor: pointer;
}
.vokrug-text-white {
  color: #fff;
}
.uk-container-vokrug {
  background-color: #fff;
  border-radius: 40px;
}
.vokrug-border-radius {
  border-radius: 40px;
}
.vokrug-container-width-8 {
  max-width: 55%;
}
.vokrug-width-1-6-width {
  width: 110px;
}
.vokrug-adv-header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */
  text-align: center;
  color: #FFFFFF;
}
.vokrug-adv-meta {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  
  color: rgba(255, 255, 255, 0.64);
}

.vokrug-button.dark {
  max-width: 395px;
  background: #222222;
  border-radius: 10px;
  color: #fff;
  font-family: 'Open Sans';
  padding: 20px 0px;
  /* padding: 20px 26px; */
  font-size: 20px;
  line-height: 28px;
  border-radius: 10px;
  text-decoration: none !important;
  text-transform: none;
}

.vokrug-button.dark:hover {
  background: rgba(34, 34, 34, 0.8);
}

.vokrug-button.light {
  background: transparent;
  font-family: 'DM Sans';
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 8px 12px;
  text-decoration: none !important;
  text-transform: none;
}
.vokrug-button.light:hover {
  background: rgba(255, 255, 255, 0.16);
  border: 1px solid rgba(255, 255, 255, 0.16);
  cursor: pointer;
}

.vokrug-margin-large-top {
  margin-top: 64px
}

.vokrug-text-meta {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: rgba(255, 255, 255, 0.56);
}

.vokrug-header-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

.vokrug-h2-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.vokrug-accordion-header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
.vokrug-accordion-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  
  color: #999999;
}
.vokrug-metting-header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
.vokrug-borderRadius-32 {
  border-radius: 32px;
}
.vokrug-metting-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: right;

  color: rgba(51, 51, 51, 0.4);
}
.vokrug-metting-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  
  color: #999999;
}
.vokrug-teachers-header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}
.vokrug-teachers-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #999999;
}
.vokrug-teachers-meta li {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}
.vokrug-teachers-container {
  border-radius: 32px;
}
.vokrug-faqs-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #999999;
}
.vokrug-bg-green {
  background: #33765F;
  border-radius: 32px;
}
.vokrug-body-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
}
.vokrug-body-text > span {
  color: #FFFFFF;
  opacity: 64%;
}
.spanBullet {
  color: rgba(51, 51, 51, 0.4);
  opacity: 0.56;
  border-radius: 100px;
  margin: 0px 10px;
  scale: 2;
}
.vokrug-footer-text {
  color: #999999;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.vokrug-margin-top-24 {
  margin-top: 24px;
}
.vokrug-margin-top-40 {
  margin-top: 40px;
}
hr {
  border-color: rgba(51, 51, 51, 0.08);
  margin: 16px 0px !important;
}
.vokrug-border-bottom {
  border-bottom: 1px solid rgba(51, 51, 51, 0.08);
}
.vokrug-text {
  color: #333;
  font-style: normal;
  line-height: 32px;
  margin: 0;
}
.vokrug-text.muted {
  color: #33333366;
}
.vokrug-text.text{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
  margin-top: 8px;
}
.vokrug-text.text{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 20px;
}
.vokrug-text.heading{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
}
.vokrug-text.large{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
.uk-open > .uk-accordion-title::before{
  background-color: rgb(225, 224, 223, 0.56);
  border-radius: 8px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background-image: url('../node_modules/uikit/src/images/icons/chevron-down.svg');
}
.uk-accordion-title:before{
  background-color: rgb(225, 224, 223, 0.56);
  border-radius: 8px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background-image: url('../node_modules/uikit/src/images/icons/chevron-up.svg');
}
.vokrug-width-1-1 {
  width: 100% !important;
}
.vokrug-width-1-80 {
  width: 80% !important;
}
.vokrug-width-100 {
  max-width: 100% !important;
}
.vokrug-width-90 {
  max-width: 90%;
}
.vokrug-width-80 {
  max-width: 80%;
}
.vokrug-width-75 {
  max-width: 75%;
}
.vokrug-width-70 {
  max-width: 70%;
}
.vokrug-width-60 {
  max-width: 60%;
}
.vokrug-width-50 {
  max-width: 50%;
}
.vokrug-width-40 {
  max-width: 40%;
}
.vokrug-chat-font {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}
.me-icon {
  width: 80px;
  height: 80px;

  text-align: center;

  color: #fff;
  background: #33765F;
  
  border-radius: 80px;

  position: relative;
  left: 125px;
  bottom: -5px;
}
.guest div {
  color: #FFFFFF;
  background-color: #0E7FD0;
  border-radius: 80px 80px 80px 0px;
  padding: 8px;
}
.uk-card {
  position: relative;
  z-index: 1;
}
.guest .uk-card:after, .me .uk-card:after {
  content: "";
  width: 25px;
  height: 100px;
  position: absolute;
  bottom: 0;
}
.guest .uk-card:after {
  content: "";
  background: #0E7FD0;
  left: -20px;
  clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
}
.me div{
  color: #FFFFFF;
  background: #222E3A;
  border-radius: 80px 80px 80px 80px;
  padding: 8px;
}
.me:last-child div:first-child{
  border-radius: 80px 80px 0px 80px;
}
.me:last-child div:last-child{
  background: transparent;
}
.me:last-child .uk-card:after {
  content: "";
  background: #222E3A;
  right: -20px;
  clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}
.vokrug-heading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: #000000;
}
.vokrug-padding-left-2px>div:nth-child(2n) {
  padding-left: 2px;
}
.vokrug-padding-medium {
  padding: 18px;
}
.vokrug-scale-1-2 {
  scale: 1.2;
}
.vokrug-margin-top-2px {
  margin-top: 2px !important;
}
.vokrug-margin-top-large {
  margin-top: 128px;
}
.vokrug-margin-left-2px {
  margin-left: 2px;
}
.vokrug-shadow-off {
  box-shadow: none
}
.vokrug-height-420 {
  height: 420px;
}
.vokrug-adv-textDecoration a {
  text-transform: none !important;
}
.vokrug-icons-hover svg:hover {
  filter: opacity(0.8);
}
.h1_test {
    position: relative;
    z-index: 1;
}
.svg_test {
    position: absolute; 
    transform: translate(-13px, -20%); 
    z-index: -1;
}
.svg_test svg {
  margin-left: 10px;
  scale: 1;
}
.svg_test-mobile {
  position: absolute; 
  transform: translate(-20px, -36%); 
  z-index: -1;
}
.svg_test-mobile svg {
  margin-left: 10px;
  scale: 1;
}
.vokrug-type-disc {
  margin: 0px 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}
.vokrug-type-disc li {
  position: relative !important;
}
.vokrug-type-disc li::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -50px;
  width: 8px;
  height: 8px;
  background-image: url(./Images/bullet.svg);
  background-repeat: no-repeat;
  padding: 12px;
  margin-left: 20px;
}
.vokrug-card-default {
  background: #FFFFFF;
  border-radius: 32px;
}
/* #region [ mobile ] */
.vokrug-header-1-mobile {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px !important;
  line-height: 24px;
  letter-spacing: 3px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF !important;
}
.vokrug-h1-mobile {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF !important;
}
.vokrug-h2-mobile {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF !important;
}
.vokrug-p-mobile {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: rgba(255, 255, 255, 0.56) !important;
}Æ’
.vokrug-padding-mobile-small {
  padding: 0px 8px;
}
.vokrug-width-mobile-small {
  max-width: 100px;
}
.vokrug-width-mobile-large {
  max-width: 200px;
}
@media only screen and (max-width: 600px) {
  .uk-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .vokrug-mobile-container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.uk-panel:first-child {
  width: 280px;
  height: 240px;
}
.vokrug-text-gray {
  color: #999999;  
}

.vokrug-text-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: rgba(51, 51, 51, 0.56);
}
.vokrug-text-link a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: rgba(51, 51, 51, 0.56);
}
.vokrug-padding-small {
  padding: 12px 0px;
}
.vokrug-mobile-panel div {
  /* border-radius: 16px; */
  /* background-color: #FFFFFF; */
}
.testRed {
  /* background: red !important; */
}
.vokrug-mobile-text h1 {
  /* color: #000000; */
}
.vokrug-mobile-text p {
  /* color: red; */
}
/* .vokrug-mobile-panel h1 {
  color: red;
}
.vokrug-mobile-panel p {
  color: yellow;
} */
/* #endregion */