.vokrug-container-header {
  /* background: #457460; */
  background: transparent;
  /* max-width: 100% !important; */
  width: 100% !important;
}
.uk-accordion-title {
  font-size: 16pt;
}
.uk-accordion-title::before {
  background-color: rgb(204, 204, 204, 0.2);
  border-radius: 10px;
}
.uk-accordion-content {
  color: #666;
}
hr {
  border-color: rgb(204, 204, 204, 0.4);
}

/* #region [ vokrug ] */

.vokrug-text-default {
  color: #fff;
}
.uk-container-vokrug {
  background-color: #fff;
  border-radius: 40px;
}

.uk-container-vokrug-transparent {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

.uk-container-vokrug-pattern {
  background-image: url(./Images/bgPattern.png);
  background-blend-mode: darken;
  background-color: #131D29;
}

.vokrug-parent {
  position: relative;
  background: cyan;
}
.vokrug-parent img:nth-child(1n) {
  width: 50%;
  background: red;
}

.vokrug-parent img:nth-child(2n) {
  width: 25%;
  background: blue;
}

.vokrug-width-1-2 {
  max-width: 65%;
}

.vokrug-card-default {
  color: #fff;
  background: #457460;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.vokrug-card-primary {
  color: #fff;
  background: #333;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.vokrug-border-rounded {
  border-radius: 40px;
}

.vokrug-check-icon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.uk-icon-button:nth-child(1n) {
  border-radius: 10px;
  background-color: lightgreen;
}

.uk-icon-button:nth-child(2n) {
  border-radius: 10px;
  background-color: lightskyblue;
}

.uk-icon-button:nth-child(3n) {
  border-radius: 10px;
  background-color: lightblue;
}

.uk-icon-button:nth-child(1n):hover {
  background-color: rgb(116, 231, 116);
}

.uk-icon-button:nth-child(2n):hover {
  background-color: rgb(109, 192, 244);
}

.uk-icon-button:nth-child(3n):hover {
  background-color: rgb(150, 207, 226);
}

.vokrug-button-default {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255, 0.4);
  border-radius: 10px;
}
.vokrug-button-default:hover {
  background-color: #222;
  border: 1px solid #222;
}
.vokrug-button-secondary {
  background-color: #222;
  border: 1px solid #222;
}
.vokrug-button-secondary:hover {
  background: rgba(34, 34, 34, 0.8);
  border: 1px solid rgba(34, 34, 34, 0.8);
}
.vokrug-padding-top {
  padding-top: 10px !important;
}
.vokrug-padding-bottom {
  padding-bottom: 10px !important;
}

.vokrug-padding-left {
  padding-left: 10px;
}
.vokrug-padding-right {
  padding-right: 10px;
}

.vokrug-padding-left-small {
  padding-left: 2px !important;
}
.vokrug-padding-left-defaul {
  padding-right: 10px !important;
}
.vokrug-padding-left-large {
  padding-left: 20px !important;
}

.vokrug-padding-right-small {
  padding-right: 2px !important;
}
.vokrug-padding-right-defaul {
  padding-right: 10px !important;
}
.vokrug-padding-right-large {
  padding-right: 20px !important;
}

.vokrug-padding-top-remove {
  padding-top: 0px;
}
.vokrug-padding-bottom-remove {
  padding-bottom: 0px;
}
.vokrug-padding-left-remove {
  padding-left: 0px;
}
.vokrug-padding-right-remove {
  padding-right: 0px;
}
.vokrug-text-default {
  font-size: 14pt;
}
.vokrug-text-small {
  font-size: 12pt;
}
.vokrug-text-large {
  font-size: 16pt;
}
.vokrug-textColor-white {
  color: #eee !important;
}
/* #endregion [ vokrug ] */


.test {
  width: 90%;
  /* background: cyan; */
}